layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane {
        command "{{AI_COMMAND}}"
    }
    pane size=2 borderless=true {
        plugin location="status-bar"
    }
}
