layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical" {
        pane size="70%" {
            command "{{AI_COMMAND}}"
        }
        pane size="30%"
    }
    pane size=2 borderless=true {
        plugin location="status-bar"
    }
}
